@page "/"

<PageTitle>PKMN APP</PageTitle>

<h1>Party Composition</h1>

Blazor app designed to help design team synergies and compositions, as well as identify useful things to farm for.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
