@page "/"

<PageTitle>PKMN APP - Home</PageTitle>

<h1>Welcome to my home page!</h1>

Blazor app designed to help design team synergies and compositions, as well as identify useful things to farm for.
